.item-selection {
    display: flex;
    width: 85%;
    height: 80px;
    margin: 10px;
    padding: 16px, 24px, 16px, 24px;
    gap:8px;
    background-color: #272736;
    box-shadow: inset 8px 0 0 0 #4CCA8D;
    display: flex;
    flex-direction: column;
    border-radius:4px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    position: relative; /* Add relative positioning */

  }

/* FIRST LINE SELECTION*/
.item-set {
    width: 399px;
    height: 24px;
    padding: 20px;
}


.author-selection {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    margin-left: 4%;
    color:#8383AF;
}


.repo-selection {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 21.09px;
    font-size: 18px;
    margin-left: 1%;
    color:#FFFFFF;
}

/* SECOND LINE SELECTION*/
.item-set-details {
    width: 240px;
    height: 16px;
    gap:8px;
    margin-left: 35px;
}

.stars-selection {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 16.41px;
    font-size: 14px;
    color:#FFFFFF;

  }

.update-selection {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 16.41px;
    font-size: 14px;
    margin-left: 4%;
    color:#8383AF;

}

.item-suggestion-click{
    height: 100%;
    width: 100%;
  }


.item-suggestion{
    display: flex;
    height: 44px;
    width: 100%;
    padding: 11px;
    background-color:#FFFFFF;
    font-size:16px;


  }
  .item-suggestion:hover {
    background-color: #ECECF6; /* Change to the desired background color on hover */
  }

  .author {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    margin-left: 20px;
    margin-top: 20px;
    color:#8383AF;

  }

  .repo {
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    line-height: 21.86px;
    font-size: 16px;
    color:#37374A;

  }



.item-set-suggestion {
    display: flex;
    justify-content: space-between;
    text-align: left; /* Align text to the left */
    }

  .author-selection {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18.75px;
    margin-left: 4%;
    color:#8383AF;


  }




  .delete-overlay {
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    background-color:#272736;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Set a higher z-index to appear over other elements */
    color:#FFFFFF;
    opacity: 80%;
    right: 0; /* Align to the right */

  }

  .delete-overlay:hover {
    opacity: 95%;
  }
