/* Container for the repository list */
.repository-list-container {
    background-color: #37374A; /* Background color */
    display: flex;
    flex-direction: column;
    width: 538px !important;
    height: 900px;
  }

  /* Header input for repository search */
  .item-list-header {
    height: 60px;
    width: 474px;
    margin-top: 80px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #8383AF; /* Text color */
    font-size: 16px;
    line-height: 18.75px;
    padding-left: 4%;
    gap: 40px;
    outline: none;
  }

  /* Container for suggested items */
  .item-list-suggested {
    /* Add your styles here */
  }

  /* Container for selected items */
  .item-list-selected {
    height: 272px;
    width: 474px;
    gap: 56px;
  }

  /* Repository list container */
  .repo-list {
    width: 37.36%;
    color: rgb(232, 226, 226);
    height: 100%;
    background-color: #37374A;
    float: right;
    display: flex;
    flex-direction: column;
  }

  /* State message styling */
  .state-message {
    width: 473px;
    height: 208px;
    border-radius: 16px;
    color: #BCBCF2; /* Text color */
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background-color: #242432;
    margin-top: 6%;
    text-align: center;
    padding: 42px;
  }

  /* Search icon styling */
  .search-icon {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 49px;
    height: 49px;
    margin-left: 40%;
  }
