.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .header {
    width: 100%;
    height: 115px;
    background-color: #003766;
    display: flex;
    color: #fff;
  }
  .header.logo {
    height: 115px;
    width: 450px;
    position: absolute;
  }
  .header-text {
    font-size: 60pt;
    font-weight: 300;
    margin: auto;
  }
  .body {
    flex-grow: 1;
    margin-top: 50px;
  }
  .footer {
    width: 100%;
  }
  .footer.spacer {
    height: 45px;
    background-color: #003766;
  }
  .footer.disclaimer {
    height: 115px;
    width: 100%;
  }
  .img-btn {
    cursor: pointer;
  }
