body {
    background-color: #ececec;
    margin: 0;
    font-family:  "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  }

/* Default monitor size */
.container-app {
    width: 1600px;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.container {
    width: 1600px;
    height: 900px;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.demo-button {
    width: 180px;
    height: 28px;
    display:flex;
    margin-top: 1%;
    margin-left: 85%;
    padding-left: 18px;

    border-radius: 26px;

    color: #BCBCF2; /* Text color */
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background-color: #242432;

    text-align: center;

}



