body {
    background-color: #ececec;
    margin: 0;
    font-family:  "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  }

/* Default monitor size */
.container {
    width: 1600px;
    height: 900px;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
